<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
<header>
  <% include partials/header %>
</header>

<%
  //info here

%>

<div class="container col-sm-12">
</div>
  
  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
