<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
<header>
  <% include partials/header %>
</header>

  <div class="container" id="quizgamescore">
    Score 125
  </div>

  <div class="container col-sm-8 col-sm-offset-1" id="quizgamequestion">
    <p>insert map here
  </p>
  </div>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
</div>


  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
