body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#quizheadername {
  font: 30px "Impact", White, sans-serif;
  color: #FFFFFF;
}

.fa-bars{
  color: white;
}

.navbar{
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#avatar_image{
  width:100px;
  height:100px;
}

#company_value{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  padding-bottom: 20px;
}

#next_level_label{
  text-align: right;
  color: gray;
  font-weight: bold;
  font-size:20px;
}

#user_level_label{
color: gray;
display: inline;
position: absolute;
margin-left: 91%;
}

#main_level_label{
  font-size: 30px;
  color: #007bff;
  text-align: center;
  font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

#company_value_label{
    font-size: 2.5rem;
    text-align: center;
    color: gray;
    font-weight: bold;
    position: relative;
    margin-bottom: -10px;
}

#portfolio_value_label{
    font-size: 2rem;
    text-align: left;
    color: gray;
    font-weight: bold;
    position: absolute;
    margin-top: -35px;
    padding-left: 10%;
    padding-bottom: 10px;
}

#income_label{
font-size: 30px;
font-weight: bold;
color: gray;
display: inline;
}

#cashtied_label{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: gray;
}

#cashtied_value{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

#coin_balance_value{
  font-size: 30px;
  font-weight: bold;
}

.card-title{
  font-weight: bold;
  color: gray;
}

.company_slider_text{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  padding-left: 40%;
}

.company_slider{
  background-color: #c8c8c8;
  height: 4rem;
}

#quizgamestatus{
  font-size:30px;
  display: inline;
}

#statusChangeDiv{
  display: inline;
}

#timerDiv{
  font-size: 28px;
  display: inline;
}

#roundDiv{
  font-size: 28px;
  display: inline;
}

#quizgamequestion{
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  float:none;
  padding-top: 30px;
}

#quizgameanswers{
  float:none;
  margin: 0 auto;
  padding-top:30px;
}

#quizgamecategory{
  color:green;
}

#score{
  display: inline;
}

#dropdownMenuButton{
  border:none;
  background:none;
  color:blue;
}

#dropdownMenuButton:focus{
  outline: 0;
}

#quizQuestionQuestion {
  /* margin:0px 0px; this is redundant anyways since its specified below*/
  padding-top:10px;
  padding-bottom:25px; /* increased! */
  /* height:16px; */
  /* line-height:16px; */
  width:100%; /* changed from 96 to 100% */
  display:block;
  /* margin:0px auto; not needed since i have width 100% now */
}

.reportProblem{
  font-size: small;
  color: #00B7FF;
  position: relative;
  top: -15px;
}

.reportProblemMultiplayer{
  font-size: small;
  color: #00B7FF;
  position: relative;
  top: -75px;
}

.displayNone{
  display:none;
}

.dropdown-left{
  left:-300px;
}

.list-group-item{
  padding: 1.75rem 1.25rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: .50rem;
}

.buy_info{
  display: inline;
  outline: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-size: 26px;
  font: 26px "Impact", grey, sans-serif;
  color: gray; 
} 

.buy_info_num{
  font-weight: bold;
  font-size: 28px;
  color:black;
}

.badge{
  background-color: gray;
  color: white;
  font-size:22px;
  font-weight: bold;
  float: right;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    font-size:32px !important;
}

.mydivider {
  position: relative;
  border-bottom: 3px solid #f0f0f0;
  margin-bottom: 30px;
  margin-top: 30px; 
}

.mydivider:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 3px solid #f0f0f0;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  background: #fff;
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
}

.mydivider:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 3px solid #2ca5b9;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  background: #2ca5b9;
  margin-top: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
}

.btn-block{
  padding: 10% 0;
}

.blinkRed{
    color: red;
}

.blinkGreen{
    color: green;
}

.collapsed{
    display: none;
}

.questionText{
  font-size:30px;
}

.answerText{
  font-size:30px;
  color: green;
}

#qpct{
  float: right;
}

#qscore{
 
}

.scroll{
  height: 400px;
  overflow: auto;
}

.small-jumbotron{
  padding: 0 !important;
}

.playeriswrong{
background-color: #dc3545;
}

.playerisright{
  background-color: #28a745;
}

.nav-big{
  font-size: 20px;
}

.no-left-margin{
  margin-left: 0px;
}

.chat{
  font-size:20px;
  text-align: center;
}

td{
  font-size:25px;
}
